<div class="container-fluid bg-1 text-center">
  <h3 class="margin">Bienvenido <strong><%= @nombre %></strong> </h3>
  <%= image_tag("mandala.png", {alt: "Happy shop", class: "image3"} ) %>
      <p></p>

   <p>CRUD App Example with Rails</p>
  <p>2020, Alan Daniel Alvarez Castro, Gdl, México</p>
</div>